<%= form_with(model: notice, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.select :category,
                [["Deaths - Announce the Passing / Funeral", "deaths"]],
                {},
                class: "mt-2" %>

  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location,
                    class: "form-input  mt-2 w-full",
                    placeholder: "Uzumba maramba pfungwe" %>
  </div>
  <div class="flex flex-col my-5 md:flex-row md:space-y-0 md:space-x-5">

    <div class="w-full">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-input px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="w-full">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-input mt-2 w-full" %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "form-input mt-2 w-full" %>
  </div>

  <div class="flex flex-col my-5 md:flex-row md:space-y-0 md:space-x-5">
    <div class="w-full">
      <%= form.label :dob, "Born" %>
      <%= form.text_field :dob,
                      class: "form-input mt-2 w-full",
                      data: {
                        controller: "datepicker",
                      } %>
    </div>

    <div class="w-full">
      <%= form.label :dod, "Passed" %>
      <%= form.text_field :dod,
                      class: "form-input mt-2 w-full",
                      data: {
                        controller: "datepicker",
                      } %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :wording %>
    <div class="mb-2 text-sm text-gray-500">Please write a short message about the deceased, this will be displayed
      on the notice</div>
    <%= form.text_area :wording,
                   rows: 4,
                   class: "form-input mt-2 w-full",
                   "data-controller": "ckeditor" %>
  </div>

  <div class="my-5">
    <%= form.label :relationship %>
    <%= form.select :relationship,
                [
                  "Funeral Arrangments/Funeral Director",
                  "Husband",
                  "Wife",
                  "Son",
                  "Daughter",
                  "Mother",
                  "Father",
                  "Brother",
                  "Sister",
                  "Other relative",
                  "Friend",
                  "Neighbour",
                ],
                {},
                class: "mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :platform, "Please select a publishing option" %>
    <%= form.select :platform,
                options_for_select([["Online ($5.00)", "online"]]),
                {},
                { class: "mt-2" } %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
