<%= form_with(model: notice, class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-input mt-2 w-full" %>

  </div>

  <div class="my-5">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-input  mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :platform %>
    <%= form.text_field :platform, class: "form-input mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-input px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-input mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :dob %>
    <%= form.text_field :dob,
                    class: "form-input mt-2 w-full",
                    data: {
                      controller: "datepicker",
                    } %>
  </div>

  <div class="my-5">
    <%= form.label :dod %>
    <%= form.text_field :dod,
                    class: "form-input mt-2 w-full",
                    data: {
                      controller: "datepicker",
                    } %>
  </div>

  <div class="my-5">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, class: "form-input mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :wording %>
    <%= form.text_area :wording, rows: 4, class: "form-input mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :relationship %>
    <%= form.text_field :relationship, class: "form-input mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
