<div id="<%= dom_id notice %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= notice.category %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= notice.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform:</strong>
    <%= notice.platform %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= notice.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= notice.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dob:</strong>
    <%= notice.dob %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dod:</strong>
    <%= notice.dod %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nickname:</strong>
    <%= notice.nickname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Wording:</strong>
    <%= notice.wording %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Relationship:</strong>
    <%= notice.relationship %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published at:</strong>
    <%= notice.published_at %>
  </p>

</div>
