<div class="mx-auto w-full md:w-2/3">

  <div class="p-4 mb-4 rounded border">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-600">
        Deaths Announce The Passing / Funeral for
        <%= @notice.first_name %>
        <% if @notice.nickname.present? %>
          (<%= @notice.nickname %>)
        <% end %>
        <%= @notice.last_name %>
      </h5>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        <%= @notice.dob.strftime("%A, %B %d, %Y") %>
        -
        <%= @notice.dod.strftime("%A, %B %d, %Y") %>
        (Age
        <%= years_between_dates @notice.dob, @notice.dod %>) Published:
        <%= @notice.platform %>
      </p>
    </div>
  </div>

  <%= form_with(model: @notice, url: notice_notice_images_path(@notice), method: :post, data: {turbo: false}) do |form| %>

    <%= content_tag :div, class: 'mb-3 mt-2 dropzone w-full', data: {
        controller: "dropzone",
        dropzone_options: {
          thumbnailHeight: 600,
          thumbnailWidth: 700
        },
        dropzone_max_file_size: 5,
        dropzone_existing_files_value: @notice.images.map { |medium| { id: medium.id, url: url_for(medium), size:  medium.byte_size, name: medium.filename.to_s } },
        dropzone_accepted_files: "image/*",
        dropzone_destroy_url_value: destroy_attachment_path(':id'),
        dropzone_max_files: 5
      } do %>

      <div class="mb-4 text-lg font-semibold">
        <h2>Select up to 5 images</h2>
      </div>
      <div class="flex flex-wrap gap-3 items-center w-full sm:gap-5 dz-clickable">
        <%= content_tag :div, class: 'group w-full', data: { dropzone_target: "clickable" } do %>
          <div
            class="flex justify-center p-12 bg-white rounded-xl border border-gray-300 border-dashed cursor-pointer dark:bg-neutral-800 dark:border-neutral-600"
            data-hs-file-upload-trigger=""
          >
            <div class="text-center">
              <i class="text-6xl text-gray-400 bi bi-images"></i>
              <div class="flex flex-wrap justify-center mt-4 text-sm leading-6 text-gray-600">
                <span class="font-medium text-gray-800 pe-1 dark:text-neutral-200">
                  Drop your file here or
                </span>
                <span
                  class="font-semibold text-blue-600 bg-white rounded-lg dark:text-blue-500 focus-within:ring-2 focus-within:ring-blue-600 focus-within:ring-offset-2 focus-within:outline-none hover:text-blue-700 hover:underline decoration-2 dark:bg-neutral-800 dark:hover:text-blue-600"
                >browse</span>
              </div>

              <p class="mt-1 text-xs text-gray-400 dark:text-neutral-400">
                Pick a photo up to 2MB.
              </p>
            </div>
          </div>

        <% end %>
      </div>

      <div
        class="grid grid-cols-4 gap-x-2 items-start empty:gap-0"
        data-dropzone-target="previewsContainer"
      >
      </div>

      <template data-dropzone-target="previewTemplate">
        <div
          class="relative p-1 mt-2 bg-white rounded border border-gray-200 dark:bg-neutral-800 dark:border-neutral-700"
        >
          <img class="object-cover mb-1 w-full rounded" data-dz-thumbnail="">

          <div class="flex gap-x-3 justify-between items-center whitespace-nowrap">
            <div class="flex-auto">
              <div
                class="flex overflow-hidden w-full h-0.5 bg-gray-200 rounded-full dark:bg-neutral-700"
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div
                  class="flex overflow-hidden flex-col justify-center text-xs text-center text-white whitespace-nowrap bg-blue-600 rounded-full transition-all duration-500 dz-upload hs-file-upload-complete:bg-green-500"
                  style="width: 0"
                ></div>
              </div>
            </div>

            <button
              type="button"
              class="text-gray-500 hover:text-gray-800 focus:text-gray-800 focus:outline-none dark:text-neutral-500 dark:hover:text-neutral-200 dark:focus:text-neutral-200"
              data-dz-remove
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>

        </div>
      </template>

      <div class="mt-4">
        <button type="submit" class="btn btn-primary">
          Upload
        </button>

        <% if @notice.payment_successful? %>
          <%= link_to "Continue", notices_path, class: "btn-primary hidden" %>
        <% else %>
          <%= link_to "Continue to payement",
          notice_payment_path(@notice),
          class: "btn-primary hidden",
          data: {
            turbo: false,
          } %>
        <% end %>
      </div>

      <%= form.file_field :images,
                      direct_upload: true,
                      multiple: true,
                      data: {
                        dropzone_target: "input",
                      } %>
      <div class="dropzone-msg dz-message needsclick">
      </div>
    <% end %>
  <% end %>
</div>
